* {margin:0;padding:0;list-style:none;}

html,
body {  overflow: hidden; font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif; }
.wraper { position: relative;}
.hide { display: none !important; }

.icon-finder { width: 32px; height: 32px; background-image: url(../img/icon_finder.png);background-size: 100%; }
.icon-close { width: 24px; height: 24px; background-image: url(../img/icon_close.png); background-size:100%; }

.welcome { width: 100%; height: 100%; background-color: #fff; padding-top: 50px; }
.btn_try { position: relative; width: 136px; height: 28px; line-height: 28px; color: #4A90E2; font-size: 12px; text-align: center; margin: 0 auto; cursor: pointer; border: 1px solid #4A90E2;border-radius:2px;}


.top_bar {height:99px;line-height: 99px; padding: 0 20px;  background-color: #fff; border-bottom:1px solid #ddd; }
.top_bar .op_item {position:relative;float:right;margin-left:35px;margin-top:35px;font:400 16px/30px "\5FAE\8F6F\96C5\9ED1", tahoma;cursor:pointer;}
.top_bar .op_item:before {position:absolute;content:'';top:7px;left:-20px;width:16px;height:16px;background-repeat:no-repeat;background-size:100%;}
.top_bar .op_item_set:before {background-image:url(../img/icon_set.png);}
.top_bar .op_item_apply:before {background-image:url(../img/icon_apply.png);}
.top_bar .op_item_apply input {position:absolute;left:0px;top:0px;width:100%;height:100%;opacity:.0}
.top_bar .op_item_new:before {background-image:url(../img/icon_new.png);}

.logo_area {float:left;}
.logo { float:left;width: 60px; height: 60px;margin-top:20px; background-image: url(../img/logo.png); background-size: 60px;}

.tasks {position:absolute;top:-200px;z-index:10;right:14px;padding-top:14px;}
.tasks span {display:inline-block;padding-right:20px;border:1px solid #ccc;line-height:30px;background-color:#fff;border-radius:3px;padding:0px 10px;cursor:pointer;margin-right:3px;font-size:14px;}
.tasks_btn_watching {border-color:#1d1;color:green;}

/*项目列表*/
.project_wrap {position:relative;}
.project_ul {height:299px;overflow-y: auto;-webkit-user-select: none; }

.list_item { position: relative; height: 59px; padding: 0 20px 0 25px;border-bottom:1px dotted #eee;} 
.list_item .icon-finder {float:left;margin-top:18px;margin-right:15px;cursor:pointer;}
.list_item_watching:before {position:absolute;left:7px;top:27px;content:'';font-size:0px;width:6px;height:6px;border-radius:3px;background-color:#14d009;}

.list_hover {background-color:#effbff;}
.list_content { float:left;width:450px;margin-top:14px;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;padding-right: 20px; }

.projects_name { display: block; font-size: 15px; color: #4D4D4D; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }
.projects_name:focus {outline:none;border:2px solid #66AAFF;text-indent:2px;}
.projects_path { font-size: 12px; color: #aaa; margin-top: 3px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }

/* setting */
.setting { position: fixed; left: 0; top: 0; z-index: 200; width: 100%;height:100vh;background-color:#fff; }
.setting_section {margin:20px 0px;padding:0 15px; }

.setting_hd { font-size: 14px; color: #7B7B7B; margin-bottom: 20px; -webkit-user-select: none; }
.setting_bd {padding-left:20px;margin:20px 0px;}
.setting_bd input:focus { outline: none; }

.ui-text input { width:90%; height: 24px; line-height: 24px; border:1px solid #39f; padding: 0 5px; color: #3B99FC; border-radius:2px;font-size:12px;} 

.ui-checkbox { display: block; color: #333333; font-size: 12px; margin-bottom: 15px; }
.ui-checkbox input {cursor:pointer;}
.ui-checkbox label { position: relative; margin-left: 7px; -webkit-user-select: none; } 
.setting .icon-close { position: absolute; right: 15px; top: 20px; } 

/* =====bottom status bar===== */
.bottom_status {box-sizing:border-box;height:30px;font:400 12px/28px tahoma;padding-left:15px;color:green; background-color:#eee; }
